# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Eloquens
Name[ar]=بيان
Name[ca]=Eloquens
Name[ca@valencia]=Eloquens
Name[cs]=Eloquens
Name[de]=Eloquens
Name[en_GB]=Eloquens
Name[eo]=Eloquens
Name[es]=Eloquens
Name[eu]=Eloquens
Name[fi]=Eloquens
Name[fr]=Eloquens
Name[gl]=Eloquens
Name[he]=Eloquens
Name[hi]=बोला जा रहा है
Name[ia]=Eloquens
Name[it]=Eloquens
Name[ka]=Eloquens
Name[ko]=Eloquens
Name[lt]=Eloquens
Name[lv]=Eloquens
Name[nl]=Eloquens
Name[nn]=Eloquens
Name[pl]=Eloquens
Name[pt]=Eloquens
Name[pt_BR]=Eloquens
Name[ro]=Eloquens
Name[sa]=वाक्पटुः
Name[sk]=Eloquens
Name[sl]=Eloquens
Name[sv]=Eloquens
Name[tr]=Eloquens
Name[uk]=Eloquens
Name[zh_CN]=Eloquens
Name[zh_TW]=Eloquens
Comment=Generate the lorem ipsum text
Comment[ar]=ولد نص لوريم إيبسوم
Comment[ca]=Genera el text «lorem ipsum»
Comment[ca@valencia]=Genera el text «lorem ipsum»
Comment[de]=Generieren Sie den „lorem ipsum“-Text
Comment[en_GB]=Generate the lorem ipsum text
Comment[eo]=Generi la lorem ipsum tekston
Comment[es]=Generador del texto lorem ipsum
Comment[eu]=Sortu «lorem ipsum» testua
Comment[fi]=Tuota lorem ipsum -tekstiä
Comment[fr]=Générer le texte « lorem ipsum »
Comment[gl]=Xerar un texto lorem ipsum.
Comment[he]=יצירת טקסט לורם איפסום
Comment[hi]=लोरेम इप्सम टेक्स्ट जनरेट करें
Comment[ia]=Genera le texto lorem ipsum 
Comment[it]=Genera il testo lorem ipsum
Comment[ka]=Lorem Ipsum-ის ტექსტის გენერაცია
Comment[ko]=자리 비움 문자열 생성
Comment[lt]=Generuoti lorem ipsum tekstą
Comment[lv]=„Lorem ipsum“ jeb bezjēdzīga teksta ģenerators
Comment[nl]=De tekst lorem ipsum genereren
Comment[nn]=Generer eksempelteksten «lorem ipsum»
Comment[pl]=Tworzenie tekstu lorem ipsum
Comment[pt]=Gera o texto de exemplo 'lorem ipsum'
Comment[pt_BR]=Gera o texto lorem ipsum
Comment[ro]=Generează testul lorem ipsum
Comment[sa]=lorem ipsum पाठं जनयन्तु
Comment[sk]=Generovať lorem ipsum text
Comment[sl]=Generiraj besedilo lorem ipsum
Comment[sv]=Generera lorem ipsum text
Comment[tr]=Lorem Ipsum metni üreteci
Comment[uk]=Створення тексту-замінника Lorem Ipsum
Comment[zh_CN]=生成 lorem ipsup 式无意义文本
Comment[zh_TW]=產生 lorem ipsum 亂數假文
Exec=eloquens
Icon=org.kde.eloquens
Type=Application
Terminal=false
Categories=Development;
SingleMainWindow=true
