# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Eloquens
Name[ca]=Eloquens
Name[ca@valencia]=Eloquens
Name[cs]=Eloquens
Name[de]=Eloquens
Name[en_GB]=Eloquens
Name[es]=Eloquens
Name[fi]=Eloquens
Name[fr]=Eloquens
Name[gl]=Eloquens
Name[it]=Eloquens
Name[ka]=Eloquens
Name[ko]=Eloquens
Name[nl]=Eloquens
Name[pl]=Eloquens
Name[pt]=Eloquens
Name[ro]=Eloquens
Name[sk]=Eloquens
Name[sl]=Eloquens
Name[sv]=Eloquens
Name[tr]=Eloquens
Name[uk]=Eloquens
Name[x-test]=xxEloquensxx
Comment=Generate the lorem ipsum text
Comment[ca]=Genera el text «lorem ipsum»
Comment[ca@valencia]=Genera el text «lorem ipsum»
Comment[de]=Generieren Sie den „lorem ipsum“-Text
Comment[en_GB]=Generate the lorem ipsum text
Comment[es]=Generador del texto lorem ipsum
Comment[fi]=Tuota lorem ipsum -tekstiä
Comment[fr]=Générer le texte « lorem ipsum »
Comment[gl]=Xerar un texto lorem ipsum.
Comment[it]=Genera il testo lorem ipsum
Comment[ka]=Lorem Ipsum-ის ტექსტის გენერაცია
Comment[ko]=자리 비움 문자열 생성
Comment[nl]=De tekst lorem ipsum genereren
Comment[pl]=Tworzenie tekstu lorem ipsum
Comment[pt]=Gera o texto de exemplo 'lorem ipsum'
Comment[ro]=Generează testul lorem ipsum
Comment[sk]=Generovať lorem ipsum text
Comment[sl]=Generiraj besedilo lorem ipsum
Comment[sv]=Generera lorem ipsum text
Comment[tr]=Lorem Ipsum Metni Üreteci
Comment[uk]=Створення тексту-замінника Lorem Ipsum
Comment[x-test]=xxGenerate the lorem ipsum textxx
Exec=eloquens
Icon=org.kde.eloquens
Type=Application
Terminal=false
Categories=Development;
SingleMainWindow=true
