# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Eloquens
Name[ca]=Eloquens
Name[ca@valencia]=Eloquens
Name[de]=Eloquens
Name[es]=Eloquens
Name[fr]=Eloquens
Name[it]=Eloquens
Name[nl]=Eloquens
Name[pt]=Eloquens
Name[sk]=Eloquens
Name[sl]=Eloquens
Name[sv]=Eloquens
Name[tr]=Eloquens
Name[uk]=Eloquens
Name[x-test]=xxEloquensxx
Comment=Generate the lorem ipsum text
Comment[ca]=Genera el text «lorem ipsum»
Comment[ca@valencia]=Genera el text «lorem ipsum»
Comment[de]=Generieren Sie den „lorem ipsum“-Text
Comment[es]=Generador del texto lorem ipsum
Comment[fr]=Générer le texte « lorem ipsum »
Comment[it]=Genera il testo lorem ipsum
Comment[nl]=De tekst lorem ipsum genereren
Comment[pt]=Gera o texto de exemplo 'lorem ipsum'
Comment[sk]=Generovať lorem ipsum text
Comment[sl]=Generiraj besedilo lorem ipsum
Comment[sv]=Generera lorem ipsum text
Comment[tr]=Lorem Ipsum metni oluşturun
Comment[uk]=Створення тексту-замінника Lorem Ipsum
Comment[x-test]=xxGenerate the lorem ipsum textxx
Exec=eloquens
Icon=org.kde.eloquens
Type=Application
Terminal=false
Categories=Qt;KDE;Development;Utility;
SingleMainWindow=true
